*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    margin-bottom:10px;
    transition: background-color 0.5s ease-in-out;
}

.img_container{
    margin:10px;
    height:500px;
    width:500px;
}