/* @import url(locomotive-scroll.css); */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:10px;
    transition: background-color 0.3s ease-in-out;
    padding:20px;
}

.status{
    z-index: 1;
}

.images{
    z-index: 1;
    width:400px; 
    height:550px; 
    margin:15px;
}

.overlay{
    position: absolute;
    top:0%;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur( 5px );
}

/* loader */
.loader_container{
    display: flex;
    max-width: 20%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}

.loader{
    width:15px;
    height:15px;
    background: rgb(54, 54, 54);
    border-radius: 50%;
}

.loader:nth-child(1){

    animation: loading .5s ease-in-out infinite;
}

@keyframes loading {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

.loader:nth-child(2){
    
    animation: loadingtwo .55s ease-in-out infinite;
}

@keyframes loadingtwo {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

.loader:nth-child(3){
    
    animation: loadingthree .6s ease-in-out infinite;
}

@keyframes loadingthree {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

.loader:nth-child(4){
    
    animation: loadingfour .65s ease-in-out infinite;
}

@keyframes loadingfour {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

@media screen and (max-width:450px){
    .images{
        width:330px;
    }
}

@media screen and (min-height:950px){
    .images{
        height:850px;
    }
}